<html>
  <head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/app.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.2.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Title</title>
    </head>
    <body>
    <nav class="navbar navbar-default">
        <div class='container'>   
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                {% if g.user.is_authenticated() %}
                <li><a href="{{ url_for('profile', username=g.user.name) }}">{{g.user.name}}</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="row">
            <div class="alert alert-info col-md-4 col-md-offset-4" role="alert">
                {% for message in messages %}
                    <p>{{ message }} </p>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
  </body>
</html>
