


<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="row">
  <h3>Edit info</h3>
  <img src="{{g.user.avatar(150)}}"> 
  </br>
  </br>
  <form action="" method="post" name="edit" class="form-horizontal">    
      {{ form.hidden_tag() }}
      <div class="form-group">
          <label for="disabledInput" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-4">
              <input class="form-control" id="disabledInput" type="text" placeholder="{{g.user.name}}" disabled>
          </div>
      </div>
      <div class="form-group">
          <label for="email" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-4">
              {{form.email(type="email", class="form-control", placeholder="Enter new email") }}
              {% for error in form.errors.email %}
                  <span style="color: red;">{{ error }}</span>
              {% endfor %}
          </div>
      </div>
      <div class="form-group">
          <label for="age" class="col-sm-2 control-label">Cake day</label>
          <div class="col-sm-4">
              {{ form.age(type="text", class="form-control", placeholder="YYYY-MM-DD") }}
              {% for error in form.errors.age %}
                  <span style="color: red;">{{ error }}</span>
              {% endfor %}
          </div>
      </div>
      <div class="form-group">
          <label for="about_me"class="col-sm-2 control-label">About me</label>
          <div class="col-sm-6">
              {{ form.about_me( rows="10", class="form-control", placeholder="Tell about yourself...") }}
          </div>
      </div>
          <input type="submit" value="Save changes" class="btn btn-primary">
  </form>
</div>
{% endblock %}