{% extends "base.html" %}

{% block content %}
<div >
	<div class="row">
	{% for user in users.items %}
	  <div class="col-md-2 col-xs-6">
	    <div class="thumbnail">
	      <img src="{{user.avatar(100)}}">
	      <div class="caption">
	        <h4><a href="{{url_for('profile', username=user.name)}}">{{user.name}} <small>{{user.age}}</small></a></h4>
	        <p>
	        	{% if user.friended.count() %}
	        		{{ user.friended.count() }}
	        	{% else %} 0
	        	{% endif %} friends
	        	{%if g.user.is_friends(user)%}
	        		<span class="glyphicon glyphicon-ok pull-right" class="badge" ></span>
	        	{% endif %}
	        	{{user.best_friend.name}}
	        </p>
	      </div>
	    </div>
	  </div>
	  {% endfor %}
	</div>
	<div class="dropdown pull-right">
        <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Sort by
        <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
          <li role="presentation">
          	<a role="menuitem" tabindex="-1" href="{{url_for('index', sort="alphabetical", page=1)}}">Name alphabetical</a></li>
          <li role="presentation">
          	<a role="menuitem" tabindex="-1" href="{{url_for('index', sort="friendCount", page=1)}}">Number of friends</a></li>
          	<li role="presentation">
          	<a role="menuitem" tabindex="-1" href="{{url_for('index', sort="bff", page=1)}}">Name BFF alphapectical</a></li>
        </ul>
      </div>
    {% if users.has_prev %}
        <a href="{{ url_for('index', sort=sort, page=users.prev_num) }}">
        	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
        {% else %}
        <a href="#" class="disabled">
        	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
        {% endif %}
        {% if users.has_next %}
        <a href="{{ url_for('index', sort=sort, page=users.next_num) }}">
        	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
        {% else %}
        <a href="#" class="disabled">
        	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
        {% endif %}
</div>




{% endblock %}
