{% extends "base.html" %}

{% block content %}
<div class="row">
<form action="" method="post" name="login" class="form-horizontal col-sm-12">
    <h3>Sign Up</h3>
    {{ form.hidden_tag() }}
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-4">
            {{ form.username(type="text", class="form-control", placeholder="Enter username") }}
            {% for error in form.errors.username %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="form-group">
        <label for="password"class="col-sm-2 control-label">Password</label>
        <div class="col-sm-4">
            {{ form.password(type="password", class="form-control", placeholder="Password") }}
            {% for error in form.errors.password %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
        <input type="submit" value="Sign in" class="btn btn-primary">
        <p>New user? <a href="{{url_for('register')}}">Sign Up</a></p>

        {% if error != None %}
        <span style="color: red;">{{ error }}</span>
        {% endif %}
</form>
</div>
{% endblock %}


    