<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <div class="row">
	    <div class="col-md-4">
		    <img src="{{user.avatar(150)}}">
		    <h4>{{user.name}}</h4>
		    <p>Age: {{user.age}}</p>
		    <p>Email: {{user.email}}</p>
		    <p>About me:</p>
		    {% if user.about_me %}
		    <p>{{user.about_me}}</p>
		    {% endif %}
	    
	    	<div class="btn-group" role="group">
			    {% if user == g.user %}
			    <a href="{{url_for('edit')}}" class="btn btn-warning">Edit info</a>
			    <a href="{{url_for('delete')}}" class="btn btn-danger">Delete Account</a>
			    {% elif not g.user.is_friends(user) %}
			    <a href="{{url_for('add_friend', username=user.name )}}" class="btn btn-success">Add Friend</a>
			    {% else %}
			    <a href="{{url_for('make_bff', username=user.name )}}" class="btn btn-success">Make BFF</a>
			    <a href="{{url_for('unfriend', username=user.name )}}" class="btn btn-warning">Unfriend</a>
		    	{% endif %}
	    	</div>
	    </div>

	    <div id="friendList" class="col-md-4  col-md-offset-4">
		    <ul class="list-group">
			    <li class="list-group-item">{{user.name}}'s friends
			    	<span class="badge">{{ user.friended.count() }}</span>
			    </li>
			    {% if bff is not none %}
			    <li class="list-group-item">
			    	<img src="{{bff.avatar(50)}}">
			    	<a href="{{ url_for('profile', username=bff.name) }}">{{bff.name}}</a>
			    	<p class="badge">BFF</p>
			    </li>
			    {% endif %}
			    {% for friend in user.friended %}
			    {% if friend.id != user.bff %}
			    <li class="list-group-item">
			    	<img src="{{friend.avatar(50)}}">
			   		<a href="{{ url_for('profile', username=friend.name) }}">{{friend.name}}</a>
			    </li>
			    {% endif %}
			    {% endfor %}
			</ul>
		</div>

	  	
    
    </div>
{% endblock %}