<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    
<form action="" method="post" name="register" class="form-horizontal">
    <h3>Sign Up</h3>
    {{ form.hidden_tag() }}
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-4">
            {{ form.name(type="text", class="form-control", placeholder="Enter username") }}
            {% for error in form.errors.name %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-4">
            {{form.email(type="email", class="form-control", placeholder="Enter email") }}
            {% for error in form.errors.email %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="form-group">
        <label for="age" class="col-sm-2 control-label">Cake day</label>
        <div class="col-sm-4">
            {{ form.age(type="text", class="form-control", placeholder="YYYY-MM-DD") }}
            {% for error in form.errors.age %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="form-group">
        <label for="password"class="col-sm-2 control-label">Password</label>
        <div class="col-sm-4">
            {{ form.password(type="password", class="form-control", placeholder="Password") }}
            {% for error in form.errors.password %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Create Account" class="btn btn-primary">
    </div>
</form>
{% endblock %}
